@import "./variables.scss";

.header {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $black;
  z-index: 50;
}
