.mainText {
  padding: 2vw 1rem;
  margin: 0;
  font-family: "Sora", sans-serif;
  font-size: 12vw;
  opacity: 0;
  transform: translateY(10%);
  animation-name: slideUp;
  animation-duration: 1500ms;
  animation-delay: 250ms;
  animation-fill-mode: forwards;
}

.subText {
  padding: 1.5vw 1rem;
  margin: 0;
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 200;
  opacity: 0;
  transform: translateY(10%);
  animation-name: slideUp;
  animation-duration: 1200ms;
  animation-delay: 550ms;
  animation-fill-mode: forwards;
}

.textWrapper {
  border-bottom: 1px solid #fff;
  overflow: hidden;
  transform: translateX(-100%);
  animation-name: slideIn;
  animation-duration: 150ms;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .mainText {
    padding: 1.5rem 1rem;
    font-size: 3.5rem;
    line-height: 1.2;
    text-align: center;
  }

  .subText {
    padding: 0.8rem;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
  }
}

/* Tablets */
@media screen and (max-width: 768px) {
  .subText {
    padding: 0.8rem;
    font-size: 1.7rem;
    line-height: 1.5;
  }
}
