.mainText {
  padding: 2vw 0;
  margin: 0;
  font-family: "Sora", sans-serif;
  font-size: 12vw;
  opacity: 0;
  transform: translateY(10%);
  animation-name: slideIn;
  animation-duration: 1500ms;
  animation-delay: 250ms;
  animation-fill-mode: forwards;
}

.subText {
  padding: 1.5vw 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 4vw;
  opacity: 0;
  transform: translateY(10%);
  animation-name: slideIn;
  animation-duration: 1200ms;
  animation-delay: 550ms;
  animation-fill-mode: forwards;
}

.textWrapper {
  border-bottom: 1px solid #fff;
  overflow: hidden;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(10%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
