@import "./variables.scss";

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #fff;
  /* border-radius: 30%; */
  font-size: 2rem;
  background-color: $black;
}
