@import "./variables.scss";

html, body {
  // background-color: $black;
  background: linear-gradient(-45deg, $white, $black);
  background-size: 200% 200%;
  color: $white;
  font-family: 'Montserrat', sans-serif;
}

.sticky {
  position: sticky;
  top: 100px;
}

.pageHeading {
  font-size: 5vw;
  text-transform: uppercase;
  padding-left: 2rem;
}