@import "./variables.scss";

html, body {
  background-color: $black;
  color: $white;
  font-family: 'Montserrat', sans-serif;
}

.sticky {
  position: sticky;
  top: 100px;
}

.pageHeading {
  font-size: 5vw;
  text-transform: uppercase;
  padding-left: 2rem;
}